@import url('https://fonts.googleapis.com/css?family=Lato');
/* @import url('https://fonts.googleapis.com/css2?family=Cardo:ital@1&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Forum&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rosarivo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin-top: 4vw;
    margin-left: 0;
    margin-right: 0;
    /* background-color: #07032b; */
    /* font-family: 'Lato'; */
    font-family: 'Nunito', sans-serif;
    /* background-image: url("/backgrounds/612547.jpg"); */
    /* background-image: url("/backgrounds/973967.jpg");   */
    /* background-image: url("/backgrounds/1579893.jpg"); */
    /* background-image: url("/backgrounds/anime-scenery5.jpg"); */
    /* background-image: url("/backgrounds/ghibli/maybe/tot/ghibli.jpg"); */
    /* background-image: url("../backgrounds/ghibli/yes/tot/done/ghibli (7).jpg"); */
    background-image: url("../images/other/background.png"); 


    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

    /* font-family: "Source Sans Pro", sans-serif; */
    /* color:rgb(96, 85, 194); */
    color: #C2C2FF;
    
}
a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
   }
hr {
    border: 0;
    border-top: 1.5px solid #9999FF;
  }


/* div{
    border: 1px solid rgb(19, 19, 19);
} */

.master-holder{
    width:100

}
.main-page{
    /* width: 64%;  */
    width: 72vw;
    min-width: 500px;
    height:max-content; 
    padding: 0;
    margin: auto;
    background-color:#252735;
    overflow: auto;
    /* box-shadow: 10px 10px 25px 6px #252735, -10px 10px 25px 6px #252735; */
}


.bare-min-page-size{
    width: 100%;
    height: 15vh;
    /* height: 100vh; */
    border: 0;
    padding: 0;
    margin: auto;  
}

.header-img{
    width: 96%;
    min-width: 460px;
    height: 24vw;
    min-height: 130px;
    
    margin: auto;
    margin-top: 1.5vw;

    /* overflow: hidden; */

    background-color:#252735;
    /* opacity: 0.7; */
        /* padding: 0; */
        /* background-color: rgb(223, 240, 255); */


}

.image_mask{
    /* background-image: url("../backgrounds/ghibli (166).jpg"); */
    /* background-image: url("C:/Users/ATHARVA/Downloads/DALL·E 1.png");  */
    /* background-image: url("C:/My Files/git/Github/Website/atharvadhamankar/backgrounds/DALL·E 1.png");  */
    background-image: url("../images/other/background.png");
    background-attachment: fixed;
    background-position: center;
    background-size: 100vw 100vh;
    opacity: 1;
    box-shadow: 0px -8px 19px 80px rgba(0,0,0,0.2);

}

.header-img-actual{
    /* object-position: bottom 160px right 0;  */
    width: 100%; 
    object-fit: contain;
    height: 100%;
    color: rgb(0, 0, 0);
    color: #191102;
    color: #C2D7EE;
    color: #EBF2F9;
    color: #D5E3F3;

    font-size: 3.5vw;
    display: flex;
    align-items: center;
    justify-content: right;
    font-family: 'Cormorant Garamond', serif;
    /* font-family: 'Cardo', serif;
    font-size: 50px; */
    /* font-family: 'Forum', cursive; */
    padding-right: 3.4vw;
    /* padding-top: 90px; */
    padding-top:7.2vw;
    
    /* border-bottom-left-radius:38vw 10vw; */
}


.nav-bar-holder{
    font-family: 'Nanum Gothic', sans-serif;
    display: flex;
    /* width: 96%; */
    width:69.2vw;
    height: 4.25vw;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1;
    padding: 0;
    margin: auto;
    margin-top: 0;
    position: absolute; 
    left: 50%;
    transform: translate(-50%, 0);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
}

.under-nav-margin{
    width: 100%;
    height: 9.75vw;
    border: 0;
    padding: 0;
    margin: auto;
    margin-top: 0;
}

.content-holder{
    width: 87%;
    height:max-content;
    border: 0;
    padding: 0;
    margin: auto;
    margin-top: 0;
    
}

.content-holder-flex{
    display: flex;
    align-items:flex-start;
}

.profile-photo-holder{
    flex: 25%;
    
    border: 0;
    
}

.profile-photo-actual{
    width: 100%;
    border: 0;
    /* height: 100%; */
    object-fit: contain;
    /* transform: rotate(-18deg);
    object-position: bottom 20px right 15px;  */
}

.margin-and-written-holder{
    flex:75%;
    border:0;
}

.margin-and-written-holder-flex{
    display: flex;
    align-items:stretch;
}


.middle-margin{
    flex:10%;
    border: 0;
    

}
.written-content-holder{
    flex:90%;
    /* border: 0; */
    /* leaving the border here for now, will remove this later */
}


.my-photo{
    
    width: 80%;
    height: 14.5vw;
    /* border: 0; */
    padding: 0;
    margin: auto; 
    overflow: hidden;
    /* display: inline; */
    opacity: 1;
    transition: all 600ms ease-in;

    /* transition: opacity 400ms ease; */
    
}

.quick-details-links{
    text-align: center;
    margin-top: 15px;
    width: 100%;
    height:max-content;
    border-bottom: 0 ;
    border-top: 10;
    border-right: 0;
    border-left: 0;
    padding: 20px;
    padding-right: 0;
    padding-left: 0;
    padding-top: 7px;
    /* font-size: large; */
    line-height: 1.5;    
    font-size: 0.9vw;
    color: #9999FF; 
}


.nav__links{
    display: flex;
    box-sizing: border-box;
    margin:0;
    padding:0;
    display: flex;
    justify-content: space-between;
    background-color: #848484;

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;
    

}

.scrollleft{
    display: flex;
    height: 4.75vw;
    width:4%;
    padding: 0.95vw;
    max-height: 100%;
    background-color: #555555;
    background-color: #222840;
    margin: auto;
    color: white;
    border-radius: 3px 0px 0px 3px;

}
.scrollleft:hover {
    background-color: #363C51;
  }
.scrollright{
    display: flex;
    height: 4.75vw;
    width:4%;
    padding: 0.95vw;
    max-height: 100%;
    background-color: #555555;
    background-color: #222840;
    margin: auto;
    color: white;
    border-radius: 0px 3px 3px 0px ;
}
.scrollright:hover {
    background-color: #363C51;
  }
.scrollbut{
    max-height: 100%;
    object-position: 50% 50%;
    filter: invert(1);
    user-select: none;
}

h1{
    /* font-family: 'Lato'; */
    font-family: 'Rosarivo', serif;
    color: #7F7EFF; 

}

h2{
    font-family: 'Rosarivo', serif;
    color: #9999FF; 

}
h3{
    font-family: 'Rosarivo', serif;
}

h4{
    font-family: 'Rosarivo', serif;
}


.scrollmenu {
    background-color: #555555;
    background-color: #222840;
    width:92%;
    overflow: auto;
    margin: auto;
    /* scrollbar-color: transparent; */
    scroll-behavior: smooth;
    height: 100%;
    white-space: nowrap;
    font-size: 1.4vw;
    line-height: 1.8;
    /* this last line is added to remove the buttons. to re add the buttons just remove this line and uncomment the butttons from the html */
    width: 100%;
    border-radius: 4px;
  }



.nav_centerer{
    display: flex;
    align-items: center;
    justify-content: center;
}

::-webkit-scrollbar {
    display: none;
}
.scrollmenu a {
    display: inline-block;
    color: white;
    /* text-align: center; */
    padding:0.95vw;
    height: 100%;
    text-decoration: none;
    /* line-height: 25px; */
  }

.scrollmenu a:hover {
    background-color: #363C51;
  }


.nav_bar_holder_holder{
    position: relative;
    height:max-content; 
    /* width: 100%; */
    
}

.navwid{
    width:69.2vw;
    transition: width 400ms ease;
}
.sticky {
    position: fixed;
    top: 0;
    left: 50%;
    right: 50%;
    /* width:69.2vw; */
    width: 72vw
    
  }

.invisiblr{
    /* display:none; */
    opacity:0;
    transition: all 600ms ease-out;
    
}
.removrr{
    display:none;
    
}

.stickyside {
    position: fixed;
    top: 100px;
    width:15.6vw;
    z-index: 1;
    
    

  }

.sub-sidebar{
    height:max-content;
    
}




/* Dropdown container - needed to position the dropdown content */
.dropdown {
    float: left;
    overflow: hidden;
    /* vertical-align:top; */
    vertical-align:top;
    
  }

  
  /* Style the dropdown button to fit inside the topnav */
  .dropdown .dropbtn {
    display: inline-block;
    color: white;
    /* text-align: center; */
    padding:0.95vw;
    height: 100%;
    text-decoration: none;


  }



.dropdown:hover {
    background-color: #363C51;
  }



  /* Style the dropdown content (hidden by default) */
  .dropdown-content {
    margin-top: -0.15vw;
    display: none;
    position: absolute;
    background-color: #555555;
    background-color: #222840;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    flex-wrap: wrap;

  



  }
  
  /* Style the links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    
  }
  
  
  /* Add a grey background to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #363C51;

  }
  
  /* Show the dropdown menu when the user moves the mouse over the dropdown button */
  .dropdown:hover .dropdown-content {
    display: block;
    /* position: absolute; */
  }

  .foot{
    display: block;
    color: #000000;
    font-weight: 600;
    font-size: x-small;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;

    display: flex;
    justify-content: center;
  }


/* ================================= */


.card {
    width: 80%;
    height: max-content;
    border-radius: 10px;
    background: #282A36;
    position: relative;
    /* padding: 1.8rem; */
    border: 2px solid #313131;
    transition: 0.5s ease-out;
    overflow: visible;
    margin-left: 20px;
   }
   
   .card-details {
    color: #7F7EFF; 
    /* height: 100%; */
    /* gap: .5em; */
    display: grid;
    padding: 10px;

    /* place-content: center; */
   }
   
   
   .card-body {
    color: #C2C2FF;
   }
   .card-author-or-date{
    text-align: right;
   }
   /*Text*/
   .card-title {
    font-family: 'Rosarivo', serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Lato';
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0;
    padding-bottom: 1px;
    /* border-bottom-style: solid; */
    width: fit-content;
    /* text-decoration: solid underline purple 2px; */
   }
   
   /*Hover*/
   .card:hover {
    border-color: #4e4eec;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.55);
   }
   
   .card:hover {
    /* transform: translate(-50%, 50%); */
    opacity: 1;
   }


/* ============================================================= */
.button_new {
    font-family: monospace;
    background-color: #f3f7fe;
    color: #5e5dff;
    border: none;
    font-size: 1.1vw;
    border-radius: 8px;
    width: 11.5vw;
    height: 2.5vw;
    transition: .3s;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  
  .button_new:hover {
    background-color: 	#7c7bff;
    box-shadow: 0 0 0 3px #5454e6;
    box-shadow: 0 0 0 3px  #e0e0ff;
    color: #fff;
  }

.web_image{
    height: max-content;
    width: 33.5vw;
    margin: auto;
}

.web_image_actual{
    height: 20.6vw;
    width: 33.4vw;
    object-fit: contain;
    margin:auto;
}
.img_captions{
    margin: auto;
    text-align: center;
    color: #9595ff;
    font-size: 1vw;
}

.quick_links a {
    display: block;
    text-align: left;
    padding: 3px 10px 3px 20px;
    /* font-family: 'Lato'; */
    font-family: 'Nunito', sans-serif;
    letter-spacing: 0.5px;
    font-size: 14.5px;
    transition: 0.5s ease-in-out;
}

.quick_links a:hover{
    padding: 3px 10px 3px 45px;
    color: #5e5dff;
}




.indenter{

    margin-left: 5.75vw;
    
}

.unindenter{
    margin-left: 0vw;
}


.unselectable{
    user-select: none;
    cursor: pointer;
}